.bookContainer {
  display: flex;
  justify-content: flex-end;
}

.bookContainer img {
  width: 700px;
  height: auto;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.2));
}

/* Mobile */
@media (max-width: 768px) {
  .bookContainer {}
}