.bookContainer {
  position: relative;
  width: 518px;
  flex-shrink: 0;
  left: -60px;
  top: -40px;
}

.bookContainer img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1200px) {
  .bookContainer {
    width: 437px;
    left: -30px;
  }
}

@media (max-width: 992px) {
  .bookContainer {
    width: 380px;
    left: 0;
  }
}

@media (max-width: 768px) {
  .bookContainer {
    width: 320px;
    left: 0;
    top: 0;
    margin: 20px auto;
  }
}